@import 'styles/helpers/variables';

.title {
  font-family: Nekst-Black, sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 49px;
  margin-bottom: 32px;
  width: 753px;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 44px;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    font-size: 34px;
    line-height: 31px;
  }
}
