@import 'styles/helpers/variables';

.header {
  width: 100%;
  height: 80px;
  background-color: $color-cobalt;
  position: fixed;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 24px;
}

.title {
  font-weight: 700;
  color: $color-white;
}

.link {
  text-decoration: none;
}
