@import 'styles/helpers/variables';

.sidebar {
  width: 268px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background: rgba(255 255 255 / 5%);
  box-shadow: 5px 0 5px -5px rgba(2 0 96 / 25%);
  padding-top: 24px;

  @media (max-width: $tablet-width-min) {
    display: none;
  }
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: $color-black-titles;
  margin: 0;
  margin-bottom: 27px;
}

.list {
  padding-top: 5px;
  height: calc(100vh - 80px);
  overflow-y: auto;
  overflow-x: hidden;

  /* Works on Firefox */
  scrollbar-color: $color-cobalt transparent;
  scrollbar-width: thin;
  scrollbar-gutter: 5px;

  /* Works on Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-cobalt;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}

.item {
  min-width: 268px;
  height: 32px;
  margin-bottom: 40px;
}

.itemSubmenu {
  height: auto;
  cursor: pointer;
}
