@import 'styles/helpers/variables';

.submenu {
    height: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 48px;
    transition: all 0.3s ease-in;
}

.item {
    text-decoration: none;
    font-weight: 600;
    color: $color-black-titles;
    display: flex;
    align-items: center;
    gap: 16px;
}

.itemCurrent {
    position: relative;

    &::after {
        position: absolute;
        content: '';
        width: 6px;
        height: 37px;
        top: 50%;
        transform: translateY(-50%);
        right: 7px;
        background: $color-cobalt;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        z-index: 1;
        transition: all 0.3s ease-in;
    }
}

.submenuItem {
    margin-bottom: 32px;

    &:last-child {
        margin-bottom: 0px;
    }
}

.submenuTitleClose {
    position: relative;

    &::after {
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        top: 50%;
        transform: translateY(-50%);
        right:20px;
        background: url('/assets/icons/triangle.png') no-repeat;
        transition: all 0.3s ease-in;
    }
}

.submenuTitleOpen {
    position: relative;

    &::after {
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
        right:20px;
        background: url('/assets/icons/triangle.png') no-repeat;
        transition: all 0.3s ease-in;
    }
}